<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    

    <title>Angola</title>
</head>
<body class="bg-secondary">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Brasil🇧🇷</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index-america' %}">Home</a>
              </li>
             
          
            </ul>
           
          </div>
        </div>
      </nav>

      <div class="espacador" style="height: 10vh;"></div>

      <div class="accordion-container d-flex justify-content-center">
          <div class="accordion w-50" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Geral
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Angola (do banto "n’gola", "ngolo"), oficialmente República de Angola, é um país da costa ocidental de África, cujo território principal é limitado a norte e a nordeste pela República Democrática do Congo, a leste pela Zâmbia, a sul pela Namíbia e a oeste pelo Oceano Atlântico. Inclui também o exclave de Cabinda, através do qual faz fronteira com a República do Congo, a norte. Para além dos vizinhos já mencionados, Angola é o país mais próximo da colónia britânica de Santa Helena.


                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Geografia
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Angola situa-se na costa atlântica Sul da África Ocidental, entre a Namíbia e a República do Congo. Também faz fronteira com a República Democrática do Congo e a Zâmbia, a oriente. O país está dividido entre uma faixa costeira árida, que se estende desde a Namíbia, chegando praticamente até Luanda, um planalto interior húmido, uma savana seca no interior sul e sudeste, e floresta tropical no norte e em Cabinda.

                  O rio Zambeze e vários afluentes do rio Congo têm as suas nascentes em Angola. A faixa costeira é temperada pela corrente fria de Benguela, originando um clima semelhante ao da costa do Peru ou da Baixa Califórnia. Existe uma estação das chuvas curta, que vai de Fevereiro a Abril. Os Verões são quentes e secos, os Invernos são temperados.[35
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Clima 
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Angola, apesar de se localizar numa zona tropical, tem um clima que não é caracterizado para essa região, devido à confluência de três factores: a Corrente de Benguela, fria, ao longo da parte sul da costa; o relevo no interior; e a influência do Deserto do Namibe, a sudoeste.

                  Em consequência, o clima de Angola é caracterizado por duas estações: a das chuvas, de Outubro a Abril e a seca, conhecida por Cacimbo, de Maio a Agosto, mais seca, como o nome indica e com temperaturas mais baixas. Por outro lado, enquanto a orla costeira apresenta elevados índices de pluviosidade, que vão decrescendo de Norte para Sul e dos 800 mm para os 50 mm, com temperaturas médias anuais acima dos 23 °C, a zona do interior pode ser dividida em três áreas: Norte, com grande pluviosidade e temperaturas altas; Planalto Central, com uma estação seca e temperaturas médias da ordem dos 19 °C; e Sul com amplitudes térmicas bastante acentuadas devido à proximidade do Deserto do Calaari e à influência de massas de ar tropical.

                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Moon_view_%28cropped%29.jpg/900px-Moon_view_%28cropped%29.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
      </div>
</body>
</html>