<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    

    <title>Chile</title>
</head>
<body class="bg-secondary">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Chile🇨🇱</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index-america' %}">Home</a>
              </li>
             
          
            </ul>
           
          </div>
        </div>
      </nav>

      <div class="espacador" style="height: 10vh;"></div>

      <div class="accordion-container d-flex justify-content-center">
          <div class="accordion w-50" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Geral
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Chile (pronunciado em português europeu: [ˈʃilɨ, ˈʃiɫ]; pronunciado em português brasileiro: [ˈʃili]; pronunciado em castelhano: [ˈtʃile]), oficialmente República do Chile (em castelhano: Sobre este somRepública de Chile?·info), é um país da América do Sul que ocupa uma longa e estreita faixa costeira encravada entre a cordilheira dos Andes e o Oceano Pacífico. Faz fronteira ao norte com o Peru, a nordeste com a Bolívia, a leste com a Argentina e a Passagem de Drake, a ponta mais meridional do país. O Pacífico forma toda a fronteira oeste do país, com um litoral que se estende por 6 435 quilômetros.


                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Geografia
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  O território chileno é cortado ao norte pelo Trópico de Capricórnio. O país ocupa uma área longa e estreita no Cone Sul, ao longo da costa oeste da América do Sul, compartilhando fronteiras terrestres com a Argentina ao leste; Bolívia a nordeste; Peru a norte e com o Oceano Pacífico ao oeste. Ele também engloba uma série de arquipélagos e ilhas oceânicas, como a Ilha de Páscoa, Arquipélago Juan Fernández e Ilhas Desventuradas. O seu tamanho, relevo, clima e recursos naturais fazem do Chile um país geograficamente diverso.
                  <br>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Cuernos_del_Paine_from_Lake_Peho%C3%A9.jpg/220px-Cuernos_del_Paine_from_Lake_Peho%C3%A9.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Clima 
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Angola, apesar de se localizar numa zona tropical, tem um clima que não é caracterizado para essa região, devido à confluência de três factores: a Corrente de O clima do Chile compreende uma ampla gama de condições climáticas através de uma larga escala geográfica, estendendo-se através de 38 graus de latitude. Segundo o sistema de Köppen-Geiger, o Chile, dentro de suas fronteiras, hospeda pelo menos sete dos principais subtipos climáticos, variando de deserto no norte a tundra alpina e geleiras no leste e sudeste, subtropical úmido na Ilha de Páscoa, oceânico no sul e mediterrânico no centro. Há quatro estações na maior parte do país: verão (dezembro a fevereiro), outono (março a maio), inverno (junho a agosto) e primavera (setembro a novembro).[

                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Koppen-Geiger_Map_CHL_present.svg/220px-Koppen-Geiger_Map_CHL_present.svg.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="espacador" style="height: 10vh;"></div>


      <div class="d-flex justify-content-center"><img src="https://pbs.twimg.com/media/EQXVDvnXkAAQIGJ.jpg" alt="" class="img-fluid rounded"></div>
      <div class="espacador" style="height: 10vh;"></div>

</body>
</html>