<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    

    <title>Uruguai</title>
</head>
<body class="bg-secondary">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Uruguai🇺🇾</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index-america' %}">Home</a>
              </li>
             
          
            </ul>
           
          </div>
        </div>
      </nav>

      <div class="espacador" style="height: 10vh;"></div>

      <div class="accordion-container d-flex justify-content-center">
          <div class="accordion w-50" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Geral
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body"> Uruguai[8][9] (em castelhano: Uruguay, pronunciado: [uɾuˈɣwaj]), oficialmente República Oriental do Uruguai (em castelhano: República Oriental del Uruguay, pronunciado: [reˈpuβlika oɾjenˈtal del uɾuˈɣwai]), é um país localizado na parte sudeste da América do Sul. Sua população é de cerca de 3,5 milhões de habitantes,[10] dos quais 1,8 milhão vivem na capital, Montevidéu, e em sua área metropolitana. Estima-se que entre 88% e 94% da população possua ascendência principalmente europeia ou mestiça.[11] A única fronteira terrestre do Uruguai é com o estado brasileiro do Rio Grande do Sul, no norte, sendo a segunda menor fronteira do Brasil com outro país sul-americano.


                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Geografia
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Angola situa-se na costa atlântica Sul da África Ocidental, entre a Namíbia e a República do Congo. Também faz fronteira com a República Democrática do Congo e a Zâmbia, a oriente. O país está dividido entre uma faixa costeira árida, que se estende desde a Namíbia, chegando praticamente até Luanda, um planalto interior húmido, uma savana seca no interior sul e sudeste, e floresta tropical no norte e em Cabinda.

                  O rio Zambeze e vários afluentes do rio Congo têm as suas nascentes em Angola. A faixa costeira é temperada pela corrente fria de Benguela, originando um clima semelhante ao da costa do Peru ou da Baixa Califórnia. Existe uma estação das chuvas curta, que vai de Fevereiro a Abril. Os Verões são quentes e secos, os Invernos são temperados.[35
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Clima 
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Com 176 214 km² de área territorial e 142 199 km² de água jurisdicionais e pequenas ilhas fluviais,[28] o Uruguai é o segundo menor país soberano na América do Sul (depois do Suriname) e o terceiro menor em território (Guiana Francesa é o menor). O Uruguai é o segundo menor país da América do Sul e a sua paisagem é constituída principalmente por planícies e colinas baixas (coxilhas), com uma planície costeira fértil. A terra está ocupada na sua maior parte por pradarias, ideais para a criação de bovinos e ovinos. O país tem um litoral de 660 quilômetros de extensão.
                  <br>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Uruguay_T2.png/220px-Uruguay_T2.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="espacador" style="height: 10vh;"></div>

      <div class="d-flex justify-content-center">
        <img src="https://images.squarespace-cdn.com/content/v1/52efc94ae4b01409c74273d6/1585834171615-UL7OJYX14WAZC26CASHB/ke17ZwdGBToddI8pDm48kMdWRliAp-QCnBqreoNmQnh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UU6Vzt3ubrNvqRbKs1lGMUlKm2pYM3Lg6N1Jd69NxbqA2OvzC_WyG1BY7Fy8dlH1Uw/montevideo_grande.jpg?format=1500w" alt="" class="img-fluid w-50 rounded">
      </div>
      <div class="espacador" style="height: 10vh;"></div>

</body>
</html>